{% extends 'base.html' %}

{% block title %}
sign up
{% endblock %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.username.label }}
    {{ form.username(class="form-control") }}
    <br>
    {{ form.email.label }}
    {{ form.email(class="form-control") }}
    <br>
    {{ form.password.label }}
    {{ form.password(class="form-control") }}
    <br>
    {{ form.password_confirm.label }}
    {{ form.password_confirm(class="form-control") }}
    <br>
    {{ form.submit(class="btn btn-primary") }}
</form>

{% endblock %}

<!-- add css please or however u like to make it -->